body {
    background-color: rgb(255, 249, 215);
}

.container {

    text-align: center;
    background-color: rgb(255,238,140);
    border-style: dashed;
    border-width: 5px;
    

}

button:hover {
   
    color: red;
    border-radius: 43px;
    transition: 3px;
}
img {
    width: 150px;
    border-style: dashed;
    border-color: black;
}
